In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('census-income .csv')

In [7]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
df.shape

(32561, 15)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  annual_income   32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [10]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
annual_income     0
dtype: int64

In [11]:
# As we see ,there is no null value ,So there is no need to drop.

In [12]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Length: 32561, dtype: bool

In [13]:
df.duplicated().sum()

24

In [14]:
#There are 24 duplicates.
#Need to drop them.

df.drop_duplicates(inplace=True)

In [15]:
df.duplicated().sum()

0

In [16]:
#checking annual income of the how many people have below or above certain threshold.
# 1 means Yes >50k
# 0 means No <50k

In [17]:
df["annual_income"].value_counts() #value_counts() can return count of unique values

annual_income
<=50K    24698
>50K      7839
Name: count, dtype: int64

In [18]:
#Check for outliers
col = list(df.columns)
col

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'annual_income']

In [19]:
#  (Encoding categorical columns)

categorical_cols = df.select_dtypes(include='object').columns
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)
display(df_encoded.head())

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,annual_income_>50K
0,39,77516,13,2174,0,40,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,50,83311,13,0,0,13,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,38,215646,9,0,0,40,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
3,53,234721,7,0,0,40,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
4,28,338409,13,0,0,40,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [20]:
 (Handling multicollinearity using VIF)
#Multicollinearity-->
Multicollinearity is a statistical phenomenon where two or more predictor variables in a regression model are highly correlated. 
This correlation makes it difficult to determine the individual effect of each variable on the dependent variable, leading to 
unstable and unreliable model results. For example, in a model predicting a person's salary, multicollinearity might occur 
if both "years of experience" and "job title" are included, as they are often highly correlated.

SyntaxError: unterminated string literal (detected at line 5) (3397016118.py, line 5)

In [30]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
X = df_encoded.drop('annual_income_>50K', axis=1)
y = df_encoded['annual_income_>50K']

X = X.astype(int)

# Calculate VIF for each feature, handling potential infinite VIFs
vif_data = pd.DataFrame()
vif_data['feature'] = X.columns

if 'workclass_Private' in X.columns:
    X = X.drop('workclass_Private', axis=1)

# Recalculate VIF after dropping a column
vif_data = pd.DataFrame()
vif_data['feature'] = X.columns
vif_data['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]


# Display VIF values
display(vif_data.sort_values(by='VIF', ascending=False))

                              feature          VIF
2                       education-num  1266.228427
21                education_Bachelors   114.454843
27             education_Some-college    61.502921
23                  education_HS-grad    57.145751
24                  education_Masters    47.432013
..                                ...          ...
91            native-country_Scotland     1.022450
35            occupation_Armed-Forces     1.017104
8              workclass_Never-worked     1.005275
12              workclass_Without-pay     1.005249
72  native-country_Holand-Netherlands     1.004608

[99 rows x 2 columns]

In [32]:
# (Splitting the data into training and testing sets)

from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (26029, 99)
Shape of X_test: (6508, 99)
Shape of y_train: (26029,)
Shape of y_test: (6508,)

In [34]:
# (Feature Scaling)

from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler on the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

print("Scaled X_train shape:", X_train_scaled.shape)
print("Scaled X_test shape:", X_test_scaled.shape)

Scaled X_train shape: (26029, 99)
Scaled X_test shape: (6508, 99)

In [ ]:
#Now, let's train the Logistic Regression model.

In [36]:
# (Logistic Regression Model )

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Initialize the Logistic Regression model
model = LogisticRegression(random_state=42)

# Train the model
model.fit(X_train_scaled, y_train)

# Make predictions on the set
y_pred = model.predict(X_test_scaled)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8570989551321451

In [38]:
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

       False       0.89      0.93      0.91      4905
        True       0.75      0.63      0.68      1603

    accuracy                           0.86      6508
   macro avg       0.82      0.78      0.80      6508
weighted avg       0.85      0.86      0.85      6508

In [40]:
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Confusion Matrix:
[[4568  337]
 [ 593 1010]]

In [42]:
# ( DecisionTreeClassifier Model )

from sklearn.tree import DecisionTreeClassifier # Load the model library
from sklearn.metrics import accuracy_score , confusion_matrix , classification_report    # To evaluate model performance

# We will use the already split and scaled data from previous steps:
# X_train_scaled, X_test_scaled, y_train, y_test

# Initialize the Decision Tree Classifier model
model_dt = DecisionTreeClassifier(random_state=42)
# Train the model
model_dt.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred_dt = model_dt.predict(X_test_scaled)

# Evaluate the model
accuracy_dt = accuracy_score(y_test, y_pred_dt)
print("Decision Tree Accuracy:", accuracy_dt)

Decision Tree Accuracy: 0.8171481253841426

In [44]:
print("\nDecision Tree Classification Report:")
print(classification_report(y_test, y_pred_dt))

Decision Tree Classification Report:
              precision    recall  f1-score   support

       False       0.88      0.87      0.88      4905
        True       0.63      0.64      0.63      1603

    accuracy                           0.82      6508
   macro avg       0.75      0.76      0.76      6508
weighted avg       0.82      0.82      0.82      6508

In [46]:
print("\nDecision Tree Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_dt))

Decision Tree Confusion Matrix:
[[4290  615]
 [ 575 1028]]

In [48]:
#(Random Forest Classifier Model)

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Initialize the Random Forest Classifier model
model_rf = RandomForestClassifier(random_state=42)

# Train the model
model_rf.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred_rf = model_rf.predict(X_test_scaled)

# Evaluate the model
accuracy_rf = accuracy_score(y_test, y_pred_rf)
print("Random Forest Accuracy:", accuracy_rf)

Random Forest Accuracy: 0.8564843269821758

In [50]:
print("\nRandom Forest Classification Report:")
print(classification_report(y_test, y_pred_rf))

Random Forest Classification Report:
              precision    recall  f1-score   support

       False       0.89      0.93      0.91      4905
        True       0.74      0.64      0.69      1603

    accuracy                           0.86      6508
   macro avg       0.82      0.78      0.80      6508
weighted avg       0.85      0.86      0.85      6508

In [52]:
print("\nRandom Forest Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_rf))

Random Forest Confusion Matrix:
[[4553  352]
 [ 582 1021]]

In [54]:
#(Hyperparameter Tuning using GridSearchCV)

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [60]:
#Define the parameter grid for Random Forest
param_grid = {
    'n_estimators': [100, 200, 300],  # Number of trees in the forest
    'max_depth': [None, 10, 20],       # Maximum depth of the tree
    'min_samples_split': [2, 5, 10],  # Minimum number of samples required to split an internal node
    'min_samples_leaf': [1, 2, 4]     # Minimum number of samples required to be at a leaf node
}

In [ ]:
# Initialize GridSearchCV
grid_search = GridSearchCV(estimator=RandomForestClassifier(random_state=42),
                           param_grid=param_grid,
                           cv=3, # Using 3-fold cross-validation
                           scoring='accuracy', # Using accuracy as the scoring metric
                           n_jobs=-1) # Use all available cores

# Fit GridSearchCV to the training data
grid_search.fit(X_train_scaled, y_train)

# Get the best parameters and the best score
best_params = grid_search.best_params_
best_score = grid_search.best_score_

print("Best Parameters:", best_params)
print("Best Cross-validation Accuracy:", best_score)

In [ ]:
# Evaluate the model with the best parameters on the test set
best_model_rf = grid_search.best_estimator_
y_pred_best_rf = best_model_rf.predict(X_test_scaled)
test_accuracy_best_rf = accuracy_score(y_test, y_pred_best_rf)

print("Test Set Accuracy with Best Parameters:", test_accuracy_best_rf)
print("\nClassification Report with Best Parameters:")
print(classification_report(y_test, y_pred_best_rf))
print("\nConfusion Matrix with Best Parameters:")
print(confusion_matrix(y_test, y_pred_best_rf))

In [ ]:
### Model Performance Comparison (Precision)

Heres a comparison of the precision scores for the trained models (specifically for the '>50K' class, 
as it's often the positive class of interest in income prediction):

*   **Logistic Regression:** Looking at the classification report, the precision for the '>50K' class is {:.4f}.
*   **Decision Tree Classifier:** Looking at the classification report, the precision for the '>50K' class is {:.4f}.
*   **Tuned Random Forest Classifier:** Looking at the classification report, the precision for the '>50K' class is {:.4f}.

Precision is the ratio of true positives to the sum of true positives and false positives.
It tells us, out of all the instances the model predicted as positive (income >50K), how many were actually positive. 
A higher precision indicates a lower rate of false positives.

In [ ]:
### Model Performance Comparison (Accuracy)

Here's a comparison of the accuracy scores for the trained models:

*   **Logistic Regression:** {:.4f}
*   **Decision Tree Classifier:** {:.4f}
*   **Tuned Random Forest Classifier:** {:.4f}

Based on accuracy, the Tuned Random Forest Classifier performs the best on the test set.

In [ ]:
### Model Performance Comparison (F1-Score)

Here's a comparison of the F1-scores for the trained models (specifically for the '>50K' class):

*   **Logistic Regression:** Looking at the classification report, the F1-score for the '>50K' class is {:.4f}.
*   **Decision Tree Classifier:** Looking at the classification report, the F1-score for the '>50K' class is {:.4f}.
*   **Tuned Random Forest Classifier:** Looking at the classification report, the F1-score for the '>50K' class is {:.4f}.

The F1-score is the harmonic mean of precision and recall. It provides a single metric that balances both concerns. 
A higher F1-score indicates a better balance between precision and recall.

In [ ]:
### Model Performance Comparison (Recall)

Here's a comparison of the recall scores for the trained models (specifically for the '>50K' class):

*   **Logistic Regression:** Looking at the classification report, the recall for the '>50K' class is {:.4f}.
*   **Decision Tree Classifier:** Looking at the classification report, the recall for the '>50K' class is {:.4f}.
*   **Tuned Random Forest Classifier:** Looking at the classification report, the recall for the '>50K' class is {:.4f}.

Recall is the ratio of true positives to the sum of true positives and false negatives. It tells us, out of all the actual positive instances
(income >50K), how many the model correctly identified. A higher recall indicates a lower rate of false negatives.